@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

.reset {
  grid-area: reset;
}

.equals {
  grid-area: equals;
}

.del {
  grid-area: del;
}

.plus {
  grid-area: plus;
}

.minus {
  grid-area: minus;
}

.mult {
  grid-area: mult;
}

.divide {
  grid-area: divide;
}

.dot {
  grid-area: dot;
}

.zero {
  grid-area: zero;
}

.seven {
  grid-area: seven;
}

.eigth {
  grid-area: eigth;
}

.nine {
  grid-area: nine;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}
